@import "tailwindcss";


/* :root { */
@theme {
    --color-primary: #58b368;
    --color-secondary: #a2bebb;
    --color-background: #f2fff1;
    --color-header: #2a2d3b;
    --color-text: #ffffff;
    --color-text-muted: #B0B0B0;
    --color-border: #454d66;
    --color-success: #00ff88;
    --color-warning: #F9C74F;
    --color-error: #D62828;
}

/* add background color to whole html */
html {
    background-color: #f3f4f6;
}