<div class="w-full lg:w-2/3 flex flex-col mx-auto">
  <%= render HeaderComponent.new(active_tab: @active_tab) %>
  <main class="container mx-auto mt-12 px-5 flex flex-col items-center" style="min-height: 100vh;">
    <%= pageContent %>
  </main>
</div>