@import "tailwindcss";
@import "tw-animate-css";
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-text: var(--text);
  --color-primary: var(--primary);
  --color-primary-text: var(--primary-text);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
}

:root {
  --background: #fffffe;
  --text: #2b2c34;
  --primary: #6246ea;
  --primary-text: #ffffff;
  --primary-hover: #5b21b6;
  --secondary: #d1d1e9;
  --tertiary: #e45858;
}
.dark {
  --background: #2b2c34;
  --text: #ffffff;
  --primary: #ffffff;
  --primary-text: #2b2c34;
  --primary-hover: #5b21b6;
  --secondary: #d1d1e9;
  --tertiary: #e45858;
}
