<header class="mt-4 mb-2 px-6 flex flex-col items-center border-b border-gray-300">
  <div class="logo text-center mx-0">
    <%= link_to root_path do %>
      <%= image_tag "FastBarLogo.png", alt: "FastBar Logo", class: "h-20 lg:h-24" %>
    <% end %>
  </div>
  <div class="flex flex-1 justify-start ms-8 mt-0">
    <%= render(TabComponent.new(
      tabs: [
        { id: 'Home', label: 'Home', path: root_path },
        { id: 'About', label: 'About', path: about_path },
        { id: 'Services', label: 'Services', path: services_path },
        { id: 'Contact', label: 'Contact', path: contact_path }
      ],
      active_tab: @active_tab || 'Home'
    ))
    %>
  </div>
</header>