<div class="bg-white shadow-md rounded-2xl p-8 mb-16">
  <h2 class="text-3xl font-bold text-center mb-10"><%= title %></h2>
  <div class="flex flex-col md:flex-row justify-center items-stretch gap-x-4 gap-y-4">
    <% steps = [
			{ number: 1, title: t('services.how_it_works.step1_title'), description: t('services.how_it_works.step1_desc') },
			{ number: 2, title: t('services.how_it_works.step2_title'), description: t('services.how_it_works.step2_desc') },
			{ number: 3, title: t('services.how_it_works.step3_title'), description: t('services.how_it_works.step3_desc') }
		] %>
    <% steps.each_with_index do |step, index| %>
      <div class="w-full md:w-64 h-full flex justify-center">
        <%= render Services::StepComponent.new(**step) %>
      </div>
      <% if index < steps.length - 1 %>
        <!-- Arrow container -->
        <div class="flex justify-center items-center">
          <!-- Right arrow for md+ -->
          <div class="hidden md:flex flex-col items-center">
            <i class="fa-solid fa-arrow-right text-primary text-xl md:text-2xl mt-2"></i>
          </div>
          <!-- Down arrow for sm -->
          <div class="flex md:hidden flex-col items-center">
            <i class="fa-solid fa-arrow-down text-primary text-xl mt-2"></i>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
