<div class="bg-white rounded-lg shadow p-4 flex items-center">
  <div class="w-16 h-16 bg-gray-200 rounded-lg mr-4 flex items-center justify-center">
    <i class="fa-solid fa-building text-gray-400 text-2xl"></i>
  </div>
  <div>
    <h3 class="font-bold"><%= @company.name %></h3>
    <p class="text-sm text-gray-600"><%= @company.address %></p>
  </div>
</div>
